/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html {
  height: 100%;
  font-size: 62.5%;
}
body {
  height: 100%;
}
.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header {
  width: 80%;
}
@media (max-width: 500px) {
  header {
    width: 90%;
  }
}
header nav {
  font-size: 2rem;
  padding-top: 2%;
  padding-bottom: 0.5%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}
header nav a {
  text-decoration: none;
  color: black;
}
header #about {
  display: flex;
  justify-content: space-around;
  padding-top: 4%;
  padding-bottom: 4%;
  border-bottom: 2px dashed black;
}
@media (max-width: 500px) {
  header #about {
    flex-direction: column;
    align-items: center;
  }
}
header #about img {
  border-radius: 50%;
  height: 40vh;
}
@media (max-width: 500px) {
  header #about img {
    height: 30vh;
  }
}
header #about .about-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  text-align: center;
}
@media (max-width: 500px) {
  header #about .about-text {
    width: 100%;
    margin-top: 4%;
  }
}
header #about .about-text h1 {
  width: 75%;
  font-size: 3.5rem;
  padding-bottom: 2%;
  border-bottom: 2px solid black;
}
header #about .about-text p {
  font-size: 2rem;
  margin-top: 4%;
}
#skills {
  justify-content: space-between;
  padding: 2% 0;
  width: 80%;
  padding-bottom: 4%;
  border-bottom: 2px dashed black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 500px) {
  #skills {
    width: 90%;
  }
}
#skills h2 {
  font-size: 3rem;
  margin-bottom: 3%;
}
#skills .skills-content {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 500px) {
  #skills .skills-content {
    flex-direction: column;
    align-items: center;
  }
}
#skills .skills-content div {
  width: 30%;
  text-align: center;
}
@media (max-width: 500px) {
  #skills .skills-content div {
    width: 100%;
    margin-bottom: 4%;
  }
}
#skills .skills-content div i {
  font-size: 5rem;
  margin-bottom: 4%;
}
#skills .skills-content div p {
  font-size: 2rem;
}
#work {
  justify-content: space-between;
  padding: 2% 0;
  width: 80%;
  padding-bottom: 4%;
  border-bottom: 2px dashed black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 500px) {
  #work {
    width: 90%;
  }
}
#work h2 {
  font-size: 3rem;
  margin-bottom: 3%;
}
#work .work-content {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 500px) {
  #work .work-content {
    flex-direction: column;
    align-items: center;
  }
}
#work .work-content div {
  width: 30%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 500px) {
  #work .work-content div {
    width: 100%;
    margin-bottom: 4%;
  }
}
#work .work-content div img {
  border-radius: 50%;
  height: 20vh;
  margin-bottom: 4%;
}
#work .work-content div h3 {
  font-size: 2.5rem;
  width: 75%;
  padding-bottom: 2%;
  border-bottom: 2px solid black;
}
#work .work-content div p {
  margin-top: 4%;
  font-size: 2rem;
}
footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#contact {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2% 0;
}
@media (max-width: 500px) {
  #contact {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
}
#contact h2 {
  font-size: 3rem;
  margin-bottom: 3%;
}
#contact .contact-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#contact .contact-content div {
  width: 50%;
  text-align: center;
}
#contact .contact-content div i {
  font-size: 5rem;
  margin-bottom: 4%;
}
#contact .contact-content div p {
  font-size: 2rem;
}
